@keyframes heart {

    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.15);
    }
}

.heart {
    animation: heart 1000ms infinite;
    color: #e91e63;
}

@keyframes heartfooter {

    0%,
    40%,
    80%,
    100% {
        transform: scale(1);
    }

    20%,
    60% {
        transform: scale(1.15);
    }
}

[title=Donate] svg {
    animation: heartfooter 1000ms infinite;
}

body > header > nav.md-header__inner.md-grid > a {
    display: inline-block;
    width: 75px;
    height: 75px;
    border: 3px solid white;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body > header > nav.md-header__inner.md-grid > a img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px; /* Make the image larger than the circle */
    height: 100px; /* Make the image larger than the circle */
    transform: translate(-51%, -48%);
    object-fit: cover;
}

